* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: rgb(200, 200, 200);
}
.xeral {
}

/* Estilos para el menú desplegable */
.menu {
  display: inline-block;
}

.menu a {
  display: inline-block;
  
  padding: 10px;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: rgba(85, 83, 83, 0.9);
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu a:hover + .dropdown-content,
.dropdown-content:hover {
  display: block;
}

.menu .dropdown-content a {
  display: block;
  padding: 10px;
}

.titulo {
  color: white;
  
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 50%, rgba(9,9,121,1) 100%);
  text-align: center;
}

.titulo {
  font-size: 3rem;
}
